<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqf82eRuTbB7x6WRoN8UdTGJlrMslDB5M</string>
	<key>GCM_SENDER_ID</key>
	<string>542867179799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dynamicmethods.world2one</string>
	<key>PROJECT_ID</key>
	<string>world2one-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>world2one-fcm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542867179799:ios:e5bb731562e22469078f52</string>
</dict>
</plist>